
<div class="custom-widget" ng-controller="customWidgetController">

    <!-- *
         * Demo markup: this is included simply as an example of the headline display. It contains
         * all of the items mentioned in the project description and some helper classes provided
         * for layout.
         *
         * Feel free to use any of this, lay it out differently or delete this.
         *
         * -->
    <div class="document-wrapper">
        <a href="#" class="document-headline">{{ demoTitle }}</a>
        <p class="document-details">
            <span class="document-date">Tuesday, May 12 2014</span> |
            <span class="document-source">News Source</span>
        </p>

        <div class="entity-group">
            <p class="entity-group-title">Organizations</p>
            <p class="entity">Demo Org 1 <span class="entity-score">(25)</span></p>
            <p class="entity">Demo Org 2 <span class="entity-score">(24)</span></p>
            <p class="entity">Demo Org 3 <span class="entity-score">(17)</span></p>
        </div>

        <div class="entity-group">
            <p class="entity-group-title">People</p>
            <p class="entity">Demo Person 1 <span class="entity-score">(39)</span></p>
            <p class="entity">Demo Person 2 <span class="entity-score">(32)</span></p>
            <p class="entity">Demo Person 3 <span class="entity-score">(18)</span></p>
        </div>            

        <div class="entity-group">
            <p class="entity-group-title">Places</p>
            <p>No items listed</p>
        </div>            

    </div>
</div>